*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0b16;
    color: white;
    text-align: center;
}
main{
    background-color: white;
    display:inline-block;
    justify-content: center;
    color: black;
    width: 506px;
}
header{
    background-color: black;
    display:flex;
    border-bottom: 5px solid #4717f6;
    height: 60px;
}
h1{
    margin-block: 10px;
}
.center{
    background-color: white;
}
.conteiner{
    display:flex;
    justify-content: center;
}
img{
    width: 300px;
    height: 300px;
}
.excel-table {
    border: 1px solid black;
    display:inline-block;
    justify-content: center;
    box-shadow: 5px 5px 0px #4717f6;
}  
.controler{
    margin-block: 10px;
}