*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0b16;
    color: white;
    text-align: center;
}
main{
    background-color: white;
    display:inline-block;
    justify-content: center;
    color: black;
    width: 506px;
}
header{
    background-color: black;
    display:flex;
    border-bottom: 5px solid #4717f6;
    height: 60px;
}
h1{
    margin-block: 10px;
}
.center{
    background-color: white;
}
.conteiner{
    display:flex;
    justify-content: center;
}
img{
    width: 300px;
    height: 300px;
}
.excel-table {
    border: 1px solid black;
    display:inline-block;
    justify-content: center;
    box-shadow: 5px 5px 0px #4717f6;
}  
.controler{
    margin-block: 10px;
}
footer{
    display: flex;
    background-color: black;
}
#menu ul {
    list-style: none;
    border: 1px solid black;
}

#menu li {
    position: relative;
    border-right: 1px solid #4717f6;
}

#menu li a {
    color: white; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}


#menu li a:hover{
    text-shadow:0px 0px 5px #fff; 
}

#menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color: black;
    display:none;
}  

#menu li:hover ul, #menu li.hover ul{
    display:block;
}

#menu li ul li{
    border:1px solid #4717f6; 
    width:150px;
    }
#menu{
   flex: 1; /* isto é para a nav ocupar a largura toda menos a logo */
   justify-content: center; /* alinha horizontalmente */
   align-items: center; /* alinha verticalmente */
}
#menu, #menu ul{
   display: flex;
}
.enterprise_logo{
    margin-block: 20px;
    border-left:2px solid #4717f6;
}